#profile
  .group-header
    .profile-header
      %h3
        =@mp['name']
        (
        =@mp['party']['name']
        )
      %h4
        Elected from
        =@mp['constituency']['name']
        ,
        =@mp['state_name']
    .photo
      ="<img src=\"#{@mp['mp_profile']['photo']}\" height=150></img>"
   
  .line
    .group.left-column
      .header
        In Parliament
      .line
        %i
          Attendance:
        ="#{@mp['mp_statistic']['attendance']}%"
      .line
        %i
          Debates Participated In:
        =@mp['mp_statistic']['debates']
      .line
        %i 
          Private Member Bills Introduced: 
        =@mp['mp_statistic']['private_member_bills']
      .line
        %i 
          Questions Asked:
        =@mp['mp_statistic']['questions']

    .group.right-column
      .header
        Email
      =@mp['mp_profile']['email'] || "Unspecified"

  .line
    .group.left-column
      .header
        Education
      =@mp['mp_profile']['educational_qualifications']
    .group.right-column
      .header
        Profession
      =@mp['mp_profile']['profession']

  .line
    .group.single-column
      .header
        Positions Held
      -@mp['mp_profile']['positions'].each do |position|
        .position
          %i
            ="#{position['period']}: " unless position['period'].blank?
          =position["name"]

  .line
    .group.single-column
      .header
        Activities
      -@mp['mp_profile']['activity'].each do |activity, value|
        .activity
          %i
            ="#{activity.gsub('_', ' ').capitalize}: "
          =value

  .line
    .group.single-column
      .header
        Personal Information
      -%w(date_of_birth place_of_birth fathers_name mothers_name martial_status spouse_name no_of_sons no_of_daughters  date_of_marriage).each do |info|
        .info
          %i
            ="#{info.gsub("_"," ").capitalize}: "
          =@mp['mp_profile'][info]

  .line
    .group.left-column
      .header
        Present Address
      =@mp['mp_profile']['present_address']

    .group.right-column
      .header
        Permanent Address
      =@mp['mp_profile']['permanent_address']
